@charset "UTF-8";
@keyframes jelly{
        from {transform: scale(1,1);}
        30%{transform:scale(1.25,0.75);}
        40%{transform:scale(0.75,1.25);}
        50%{transform:scale(1.15,0.85);}
        60%{transform:scale(0.95,1.05);}
        70%{transform:scale(1.05,0.95);}
        to {transform:scale(1,1);}
    }

body {
	margin: 0px;
	padding: 0px;
	text-align: center;
	/* width: 1400px */
	margin: auto;
	font-family: SCDream4;
	overflow-y: scroll;
	height: auto;
	min-height: 100%;
	
}
.hopetime{
	margin-left:7px;
	margin-right:3px;
	margin-top:0px;
	margin-bottom:0px;
	display:inline-block;
	color:#0d6efd;
	font-weight: bold;
}
.ln_page, .vn_page, .en_page, .an_page {
	width: 1000px;
	margin:auto;
}

.lc_page, .ac_page {
	width: 1000px;
	margin: auto;
}

.ln_title {
	font-size: 25px;
	font-weight: bold;
	clear: both;
	margin-bottom: 50px;
}
.ln_paging {
	margin-top:25px;
}

.vn_title, .en_title, .an_title, .lc_title{
	font-size: 25px;
	font-weight: bold;
	clear: both;
	margin-bottom: 50px;
}

.table th {
	font-size: 18px;
	color: #fff;
	line-height: 1.4;
	background-color: #6A60A9;
	padding-left:10px;
	padding-right:10px;
}

.table td {
	font-size: 15px;
	color: black;
	line-height: 1.4;
	padding-left:10px;
	padding-right:10px;
}
.cont3{
	height:400px;
	max-height:800px;
}
.table .table tr:nth-child(even) {
	background-color: #f8f6ff;
}

.table {
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	padding-top: 500px;
}

.an_label, .en_label {
	width: 1000px;
	height: 41.5px;
	text-align: left;
	font-size: 18px;
	color: #fff;
	line-height: 2.4;
	background-color: #6A60A9;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin: 0px;
	padding-left:15px;
	padding-right:15px;
} 

.form-control {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	min-height: 60px;
	box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
}

.form-control2 {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
}

/* 버튼 공통 */
.button {
	display: inline-block;
	border-radius: 7px;
	background-color: #6A60A9;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 15px;
	width: 70px;
	height: 35px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	float: right;
}

.file_label {
	display: inline-block;
	border-radius: 7px;
	background-color: #6A60A9;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 15px;
	width: 70px;
	height: 35px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	float: right;
}
.file_label span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
	top: 6px;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
	
}

.button span:after, .file_label span:after{
	content: '*';
	position: absolute;
	opacity: 0;
	top: -5px;
	right: -10px;
	transition: 0.2s;
}

.button:hover span, .file_label:hover span {
	padding-right: 10px;
}

.button:hover span:after, .file_label:hover span:after {
	opacity: 1;
	right: 0;
}

.fileBtn {
	display: inline-block;
	border-radius: 7px;
	background-color: #6A60A9;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 15px;
	width: 70px;
	height: 35px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	float: left;
}

.fileBtn span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.fileBtn span:after {
	content: '*';
	position: absolute;
	opacity: 0;
	top: -5px;
	right: -10px;
	transition: 0.2s;
}

.fileBtn:hover span {
	padding-right: 10px;
}

.fileBtn:hover span:after {
	opacity: 1;
	right: 0;
}

.file_del_btn{
	width: 18px;
    margin-left: 5px;
}


.ln_cont, .vn_cont {
	text-align: left;
	max-width:1000px;
}
.vn_cont p img{
	max-width:100%;
}
#editor1{
	padding-left: 10px;
}
.ln_cont:hover, .lc_cont:hover{
	font-weight: bold;
	cursor:pointer;
    color: #EE2560;

	
	/* transform: scale(1.03); */
	/* transition: all 0.5s */
	/* ease-in-out; */
}

/* remove 모달 css */
.rc_background, .vc_background, .rn_background, .ec_background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 1000;
	/* 숨기기 */
	z-index: -1;
	opacity: 0;
}

.show {
	opacity: 1;
	z-index: 1000;
	transition: all 0.5s;
}

.popup {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
	border-radius: 7px;
	/* 임시 지정 */
	width: 340px;
	height: 150px;
	text-align: center;
	/* 초기에 약간 아래에 배치 */
	transform: translate(-50%, -40%);
}

.show .popup{
	transform: translate(-50%, -50%);
	transition: all 0.5s;
}
.rc_cont{
	widht: 340px;
	height: 60px;
}
.rn_warning,.rc_warning {
	height:30px;
	line-height:60px; 
	float:left;
	margin-left:20px;
	margin-top:14px;
}

/* .rn_a, .rc_a {
	color: #35a785;
	text-decoration: none;
} */

.rn_li:first-child a:hover, .rc_li:first-child a:hover {
	color: #EE2560;
	font-weight: bold;
}

.rn_li:last-child a:hover, .rc_li:last-child a:hover {
	color: #EE2560;
	font-weight: bold;
}

ol,.cd-buttons {
	list-style: none;
	
}

.rn_li:first-child a, .rc_li:first-child a {
	background: #fc7169;
	float: left;
	/* margin-left: -32px; */
	border-radius: 0 0 0 5px;
	color: white;
	width: 170px;
	height: 60px;
	line-height: 60px;
	text-decoration: none;
	position : absolute;
	bottom:0px;
	left:0px;
}

.rn_li:last-child a, .rc_li:last-child a {
	/* background: #b6bece; */
	background: #b6bece;
	float: right;
	border-radius: 0 0 5px 0;
	color: white;
	width: 170px;
	height: 60px;
	line-height: 60px;
	text-decoration: none;
	position : absolute;
	bottom:0px;
	right:0px;
}

.rn_p, .rc_p {
	display: block;
	/* color: #8f9cb5; */
	/* color:#EE2560; */
	color:gray;
	line-height: 60px;
	margin-top: 20px;
}

/* 상담신청게시판 input박스 */
.lc_form-control {
	border:2px solid #d5d5ff;
	border-radius:5px;
	margin:4px 0;
	outline:none;
	/* padding:4px; */
	box-sizing:border-box;
	transition:.3s;
}
.lc_form-control:focus {
	border-color:dodgerBlue;
	box-shadow:0 0 8px 0 dodgerBlue;
}

.checkbox input{
    display:none;
}    
.checkbox span{
    display:inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.checkbox .icon{
    position: relative;
    width: 17px;
    height: 17px;
    border:1px solid #c8ccd4;
    border-radius: 3px;
    transition: backgorund 0.1s ease;
    top : -2px;
}
.checkbox .icon::after{
    content: '';
    position: absolute;
    top: 1px;
    left:5px;
    width: 5px;
    height: 11px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(45deg) scale(0); 
    transition: all 0.3s ease;
    transition-delay: 0.15s;
    opacity: 0;
}
.checkbox input:checked ~ .icon{
    border-color:transparent;
    background: #0080ff;
    animation: jelly 0.6s ease;
   /*  box-shadow:0 0 8px 0 dodgerBlue; */
}
.checkbox input:checked ~ .icon::after{
	opacity: 1;
	transform: rotate(45deg) scale(1);
	/* box-shadow:0 0 2px 0 dodgerBlue; */
}

/* viewCS 모달창 CSS */
.vc_popup, .ec_popup, .rn_popup {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	/* 임시 지정 */
	width: 400px;
	height: 450px;
	text-align: left;
	/* 초기에 약간 아래에 배치 */
	transform: translate(-50%, -50%);
}
.vc_head, .ec_head {
	height:60px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.vc_title, .ec_title {
	font-weight:bold;
	margin-left:10px;
	/* margin-tio:15px; */
	width:400px;
	height:33px;
	line-height:60px;
	margin:0;
	color:#5b6784;
}
.vc_label, .ec_label{
	margin-top:15px;
	margin-left:25px;
	width:400px;
	display:block;
	color:#8f9cb5
}
.vc_label_input, .ec_label_input {
	display:block;
	border:1px solid #d5d5ff;
	/* border-radius:5px; */
	margin:4px 0;
	outline:none;
	/* padding:4px; */
	box-sizing:border-box;
	transition:.3s;
	width: 350px;
	height:40px;
	margin:auto;
}
.vc_label_input:focus, .ec_label_input:focus {
	border-color:dodgerBlue;
	box-shadow:0 0 3px 0 dodgerBlue;
}
.vc_btns, .ec_btns {
	display:block;
	margin-top:25px;
	height:53px;
}
.vc_cbtn, .ec_cbtn{
	background-color:#b6bece;
	line-height:53px;
	width:200px;
	height:53px;
	float:right;
	border-top:1px solid #d6d2e8;
	border-bottom:none;
	border-left:none;
	border-right:none;
	border-bottom-right-radius:10px;
	cursor: pointer;
	font-family: SCDream4;
	color:white;
	font-size:17px;
}
.vc_ebtn, .ec_ebtn {
	background-color:#fc7169;
	line-height:53px;
	width:200px;
	height:53px;
	float:left;
	border-top:1px solid #d6d2e8;
	border-bottom:none;
	border-left:none;
	border-right:none;
	border-bottom-left-radius:10px;
	cursor: pointer;
	font-family: SCDream4;
	color:white;
	font-size:17px;
}
.vc_cbtn:hover, .ec_cbtn:hover{
	color: #EE2560;
	font-weight: bold;
	
}
.vc_ebtn:hover, .ec_ebtn:hover {
	color: #EE2560;
	font-weight: bold;
}
.vn_cont_p {
	color: #808080;
	display:inline-block;
	margin:0;
	padding:0;
}
#viewCS:hover {
	font-weight: bold;
}
/* listCS 서치바 CSS */
.lc_search_box{
    margin-bottom: 15px;
    float:right;
    display:inline-block;
}
.lc_search_input {
    padding: 10px;
    width: 40px;
    height: 40px;
    background: white;
    border: 2px solid #9a92d3;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 15px;
    color: #08182B;
    outline: none;
    transition: .5s;
    font-color:gray;
}
.lc_search_box:hover .lc_search_input{
    width: 120px;
    background: #f8f8f8;
    border-radius: 10px;
    placeholder
}
input::placeholder { /* Chrome, Safari, Firefox */
  color: #9a92d3;
}
i{
    position: absolute;
    transform: translate(-50%,-140%);
    font-size: 23px;
    color: #9a92d3;
    background: white;
    transition: .2s;
}
.lc_search_box:hover i{
    opacity: 0;
    z-index: -1;
}
.file_label{
	float:left;
}
.input-file{
	visibility: hidden;
	margin: 10px;
	float:left;
}
.fileName, .reg_file{
	display:block;
	position:absolute;
	margin:10px;
	float:left;
	margin-left: 90px;
}
