@charset "UTF-8";
body {
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 870px;
	font-family: SCDream4;
	height: auto;
	min-height: 100%;
	line-height: 1.5;
}
.ln_page, .vn_page, .en_page, .an_page {
	margin-top:75px;
	width: 100%;
}
.table th {
	font-size: 18px;
	color: #fff;
	line-height: 2.0;
	background-color: #6A60A9;
}

.table td {
	font-size: 15px;
	color: black;
	line-height: 2.5;
}
.table .table tr:nth-child(even) {
	background-color: #f8f6ff;
}

.table {
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	padding-top: 500px;
}
.ln_title {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 50px;
}