@charset "UTF-8";
body {
	margin: 0px;
	padding: 0px;
	text-align: center;
	/* width: 1400px */
	margin: auto;
	font-family: SCDream4;
	overflow-y: scroll;
	height: auto;
	min-height: 100%;
	
}
.ln_page, .vn_page, .en_page, .an_page {
	width: 1000px;
}

.lc_page, .ac_page {
	width: 800px;
}

.ln_title {
	font-size: 25px;
	font-weight: bold;
	clear: both;
	margin-bottom: 50px;
}

.vn_title, .en_title, .an_title, .lc_title{
	font-size: 25px;
	font-weight: bold;
	clear: both;
	margin-bottom: 50px;
}
.table th {
	font-size: 18px;
	color: #fff;
	line-height: 2;
	background-color: #6A60A9;
}

.table td {
	font-size: 15px;
	color: black;
	line-height: 1.4;
}
.cont3{
	height:300px;
}
.table .table tr:nth-child(even) {
	background-color: #f8f6ff;
}

.table {
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	padding-top: 500px;
}
/* 버튼 공통 */
.button {
	display: inline-block;
	border-radius: 7px;
	background-color: #6A60A9;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 15px;
	width: 70px;
	height: 35px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	float: right;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
	content: '*';
	position: absolute;
	opacity: 0;
	top: -5px;
	right: -10px;
	transition: 0.2s;
}

.button:hover span {
	padding-right: 10px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}

.ln_cont, .vn_cont {
	text-align: left;
}

.ln_cont:hover {
	font-weight: bold;
	/* transform: scale(1.03); */
	/* transition: all 0.5s */
	/* ease-in-out; */
}
.form-control {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	/* min-height: 60px; */
	box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
}
.month {
	width: 300px;
	display: inline;
	left: 0;
}
.LClass{
	margin-top: 20px;
}
.classFrm{
	text-align: left;
	margin-left: 40px;
	margin-right: 40px;
}
.checkbox input{
    display:none;
}    
.checkbox span{
    display:inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.checkbox .icon{
    position: relative;
    width: 17px;
    height: 17px;
    border:1px solid #c8ccd4;
    border-radius: 3px;
    transition: backgorund 0.1s ease;
    top: -2.5px;
}
.checkbox .icon::after{
    content: '';
    position: absolute;
    top: 1px;
    left:5px;
    width: 5px;
    height: 11px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(45deg) scale(0); 
    transition: all 0.3s ease;
    transition-delay: 0.15s;
    opacity: 0;
}
.checkbox input:checked ~ .icon{
    border-color:transparent;
    background: #0080ff;
    animation: jelly 0.6s ease;
   /*  box-shadow:0 0 8px 0 dodgerBlue; */
}
.checkbox input:checked ~ .icon::after{
	opacity: 1;
	transform: rotate(45deg) scale(1);
	/* box-shadow:0 0 2px 0 dodgerBlue; */
}
