@charset "UTF-8";
body {
	margin: 0px;
	padding: 0px;
	text-align: center;
	/* width: 1400px */
	font-family: SCDream4;
	overflow-y: scroll;
	height: auto;
	min-height: 100%;
	
}
.ln_page, .vn_page, .en_page, .an_page {
	width: 1000px;
	margin: 0 auto;
}

.lc_page, .ac_page {
	width: 800px;
}

.ln_title {
	font-size: 25px;
	font-weight: bold;
	clear: both;
}

.vn_title, .en_title, .an_title, .lc_title{
	font-size: 25px;
	font-weight: bold;
	clear: both;
	margin-bottom: 50px;
}
.table th {
	font-size: 18px;
	color: #fff;
	line-height: 2;
	background-color: #6A60A9;
}

.table td {
	font-size: 15px;
	color: black;
	line-height: 1.4;
}
.cont3{
	height:300px;
}
.table .table tr:nth-child(even) {
	background-color: #f8f6ff;
}

.table {
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	padding-top: 500px;
}
.ln_cont, .vn_cont {
	text-align: left;
}

.ln_cont:hover {
	font-weight: bold;
	/* transform: scale(1.03); */
	/* transition: all 0.5s */
	/* ease-in-out; */
}
.form-control {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	/* min-height: 60px; */
	box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
}
#calendar{
 		width: 1000px; 
        /* max-width: 900px; */
        /* margin: 0 auto; */
	}
.LC_title{
	float: left;
}
.LC_title_cont{
	float: left;
	margin-right: 15px;
}
.LC_content{
	display: none;
}
#LC_cont{
	display: block;
}
.selected{
	color:#EE2560;
}