@charset "UTF-8";
body {
	margin: 0px;
	padding: 0px;
	text-align: center;
	/* width: 1400px */
	font-family: SCDream4;
	overflow-y: scroll;
	height: auto;
	min-height: 100%;
	
}
.ln_page, .vn_page, .en_page, .an_page {
	width: 1000px;
	margin: 0 auto;
}

.lc_page, .ac_page {
	width: 800px;
}

.ln_title {
	font-size: 25px;
	font-weight: bold;
	clear: both;
	position: relative;
	display: inline-block;
	left: 40px;
}

.vn_title, .en_title, .an_title, .lc_title{
	font-size: 25px;
	font-weight: bold;
	clear: both;
	margin-bottom: 50px;
}
.table th {
	font-size: 18px;
	color: #fff;
	line-height: 2;
	background-color: #6A60A9;
}

.table td {
	font-size: 15px;
	color: black;
	line-height: 1.4;
}
.cont3{
	height:300px;
}
.table .table tr:nth-child(even) {
	background-color: #f8f6ff;
}

.table {
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	padding-top: 500px;
}
.ln_cont, .vn_cont {
	text-align: left;
}

.ln_cont:hover {
	font-weight: bold;
	/* transform: scale(1.03); */
	/* transition: all 0.5s */
	/* ease-in-out; */
}
.form-control {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	/* min-height: 60px; */
	box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
}
#calendar{
 		width: 1000px; 
        /* max-width: 900px; */
        /* margin: 0 auto; */
	}
#calendar2{
 		width: 1000px; 
        /* max-width: 900px; */
        /* margin: 0 auto; */
	}
.LC_title{
	float: left;
}
.LC_title_cont{
	float: left;
	margin-right: 15px;
}
.selected{
	color:#EE2560;
}
#ln_title2{
	color:#EE2560;
}
/* listCS 서치바 CSS */
.lc_search_box{
    margin-bottom: 15px;
    float:right;
    display:inline-block;
}
.lc_search_input {
    padding: 10px;
    width: 40px;
    height: 40px;
    background: white;
    border: 2px solid #9a92d3;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 15px;
    color: #08182B;
    outline: none;
    transition: .5s;
    font-color:gray;
}
.lc_search_box:hover .lc_search_input{
    width: 120px;
    background: #f8f8f8;
    border-radius: 10px;
    placeholder
}
input::placeholder { /* Chrome, Safari, Firefox */
  color: #9a92d3;
}
i{
    position: absolute;
    transform: translate(-50%,-140%);
    font-size: 23px;
    color: #9a92d3;
    background: white;
    transition: .2s;
}
.lc_search_box:hover i{
    opacity: 0;
    z-index: -1;
}
/* 버튼 공통 */
.button {
	display: inline-block;
	border-radius: 7px;
	background-color: #6A60A9;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 15px;
	width: 70px;
	height: 35px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	float: right;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
	content: '*';
	position: absolute;
	opacity: 0;
	top: -5px;
	right: -10px;
	transition: 0.2s;
}

.button:hover span {
	padding-right: 10px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}
.regis_page{
	margin-top: 25px;
	margin-bottom: 30px;
}
.warn{
	clear: both;
}

/* 안내문 */
.warning{
	float: left;
	text-align: left;
	margin-top: 30px;
}