@charset "UTF-8";
@keyframes jelly{
        from {transform: scale(1,1);}
        30%{transform:scale(1.25,0.75);}
        40%{transform:scale(0.75,1.25);}
        50%{transform:scale(1.15,0.85);}
        60%{transform:scale(0.95,1.05);}
        70%{transform:scale(1.05,0.95);}
        to {transform:scale(1,1);}
    }
body {
	margin: 0;
	padding: 0;
	text-align: center;
	/* width: 1400px */
	margin: auto;
	font-family: SCDream4;
	overflow-y: scroll;
	height: auto;
	min-height: 100%;
	
}
.ln_page, .vn_page, .en_page, .an_page {
	margin: 0 auto;
	width: 1000px;
}
.ln_title {
	font-size: 25px;
	font-weight: bold;
	clear: both;
	margin-bottom: 50px;
}


.an_label, .en_label {
	width: 1000px;
	height: 41.5px;
	text-align: left;
	font-size: 18px;
	color: #fff;
	line-height: 2.4;
	background-color: #6A60A9;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin: 0px;
	padding-left:15px;
	padding-right:15px;
}

.form-control {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	min-height: 60px;
	box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
}


.button {
	display: inline-block;
	border-radius: 7px;
	background-color: #6A60A9;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 15px;
	width: 70px;
	height: 35px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	float: right;
}

.file_label {
	display: inline-block;
	border-radius: 7px;
	background-color: #6A60A9;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 15px;
	width: 70px;
	height: 35px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	float: left;
}
.file_label span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
	top: 6px;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
	
}

.button span:after, .file_label span:after{
	content: '*';
	position: absolute;
	opacity: 0;
	top: -5px;
	right: -10px;
	transition: 0.2s;
}

.button:hover span, .file_label:hover span {
	padding-right: 10px;
}

.button:hover span:after, .file_label:hover span:after {
	opacity: 1;
	right: 0;
}

.fileBtn {
	display: inline-block;
	border-radius: 7px;
	background-color: #6A60A9;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 15px;
	width: 70px;
	height: 35px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	float: left;
}

.fileBtn span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.fileBtn span:after {
	content: '*';
	position: absolute;
	opacity: 0;
	top: -5px;
	right: -10px;
	transition: 0.2s;
}

.fileBtn:hover span {
	padding-right: 10px;
}

.fileBtn:hover span:after {
	opacity: 1;
	right: 0;
}

.file_del_btn{
	width: 18px;
    margin-left: 5px;
}


.ln_cont, .vn_cont {
	text-align: left;
	max-width:1000px;
}
.vn_cont p img{
	max-width:100%;
}
#editor1{
	padding-left: 10px;
}
.ln_cont:hover, .lc_cont:hover{
	font-weight: bold;
	cursor:pointer;
    color: #EE2560;

	
	/* transform: scale(1.03); */
	/* transition: all 0.5s */
	/* ease-in-out; */
}
.input-file{
	visibility: hidden;
	margin: 10px;
	float:left;
}
.fileName, .reg_file{
	display:block;
	position:absolute;
	margin:10px;
	float:left;
	margin-left: 90px;
}
input::placeholder { /* Chrome, Safari, Firefox */
  color: #9a92d3;
}
.checkbox input{
    display:none;
}    
.checkbox span{
    display:inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.checkbox .icon{
    position: relative;
    width: 17px;
    height: 17px;
    border:1px solid #c8ccd4;
    border-radius: 3px;
    transition: backgorund 0.1s ease;
    top: -2.5px;
    right: -140px;
}
.checkbox .icon::after{
    content: '';
    position: absolute;
    top: 1px;
    left:5px;
    width: 5px;
    height: 11px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(45deg) scale(0); 
    transition: all 0.3s ease;
    transition-delay: 0.15s;
    opacity: 0;
}
.checkbox input:checked ~ .icon{
    border-color:transparent;
    background: #0080ff;
    animation: jelly 0.6s ease;
   /*  box-shadow:0 0 8px 0 dodgerBlue; */
}
.checkbox input:checked ~ .icon::after{
	opacity: 1;
	transform: rotate(45deg) scale(1);
	/* box-shadow:0 0 2px 0 dodgerBlue; */
}
.background{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 1000;
	/* 숨기기 */
	z-index: -1;
	opacity: 0;
}

.show {
	opacity: 1;
	z-index: 1000;
	transition: all 0.5s;
}

.popup {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
	border-radius: 7px;
	/* 임시 지정 */
	width: 340px;
	height: 150px;
	text-align: center;
	/* 초기에 약간 아래에 배치 */
	transform: translate(-50%, -40%);
}
.show .popup{
	transform: translate(-50%, -50%);
	transition: all 0.5s;
}
.ln_title {
	font-size: 25px;
	font-weight: bold;
	clear: both;
	margin-bottom: 50px;
}
.rn_warning,.rc_warning {
	height:30px;
	line-height:60px; 
	float:left;
	margin-left:20px;
	margin-top:14px;
}
.rn_li:first-child a:hover, .rc_li:first-child a:hover {
	color: #EE2560;
	font-weight: bold;
}
.rn_li:last-child a:hover, .rc_li:last-child a:hover {
	color: #EE2560;
	font-weight: bold;
}
ol,.cd-buttons {
	list-style: none;
	
}
.rn_li:first-child a, .rc_li:first-child a {
	background: #fc7169;
	float: left;
	/* margin-left: -32px; */
	border-radius: 0 0 0 5px;
	color: white;
	width: 170px;
	height: 60px;
	line-height: 60px;
	text-decoration: none;
	position : absolute;
	bottom:0px;
	left:0px;
}

.rn_li:last-child a, .rc_li:last-child a {
	/* background: #b6bece; */
	background: #b6bece;
	float: right;
	border-radius: 0 0 5px 0;
	color: white;
	width: 170px;
	height: 60px;
	line-height: 60px;
	text-decoration: none;
	position : absolute;
	bottom:0px;
	right:0px;
}

.rn_p, .rc_p {
	display: block;
	/* color: #8f9cb5; */
	/* color:#EE2560; */
	color:gray;
	line-height: 60px;
	margin-top: 20px;
}

.studio{
		width: 1000px;
		height: 100%;
		clear: both;
		margin-top: 110px;
	}
.videoImg{
	width: 300px;
	height: 200px;
}
.playBtn{
	position: absolute;
	left: 118px;
	top: 70px;
}
.cover{
	width: 300px;
	height: 200px;
	padding: 0;
	margin-right: 16px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 16px;
	float: left;
}
.imgcover{
	position:relative;
	width: 300px;
	height: 200px;
	clear: both;
}
.thumcover{
	width: 300px;
	height: 200px;
	opacity: 0.4;
	background: #000;
	position: absolute;
	top:0;
}
.videoDate{
	margin: 0;
	text-align: left;
	font-size: 13px;
	color: #ccc;
	margin-top: 5px;
}
.videoTitle{
	font-size: 18px;
	margin: 0;
	text-align: left;
}
.selectLc{
	margin-bottom: 45px;
	height: 300px;
}
.cheakVNo{
	float: right;
}


.graph_li { margin: 0; padding: 0; text-align: left;}
.graph  { width: 340px; list-style: none;margin: 0; padding: 0; float: left; height: 20px;}
.graph li   { position: relative; padding: 1px 0; white-space:nowrap; left: 225px;}
.graph li span  { display: inline-block; position: relative; height: 20px; line-height: 20px; background: #DEDCEE;}
.graph li em    { position: absolute; top: 0px; right: -65px; font-family: arial; color: #000; font-size: 18px;}
.graph_title{
	font-size: 17px;
	position: absolute;
	right: 835px;
}
.proError{
	position: relative;
	left: 380px;
	top:30px;
}

.durationTime{
	position: absolute;
	bottom: 4px;
	right: 0;
	padding: 4px;
	font-size: 13px;
	background: #000;
	color: #fff;
}
#graphTitle{
	background: white;
}
#avgli{
	background: white;
	margin-right: 6px;
}
.video_cont1{
	float: left;
	position: relative;
}
.video_cont2{
	background: #ccc;
	font-size: 20px;
	margin-bottom: 25px;
}
.comments{
	float:left;
}
.comment_Wrapper{
	width:1000px;
	margin:auto;
	
}
#countComment{
	font-weight : bold;
	margin-bottom : 10px;
	width : 1000px;
}
.name_float{
	float : left;
	margin-left:12px;
	margin-bottom:10px;
	font-size:15px;
}
.viTitle{
		font-size: 20px;
	}
.selectbox3 {
	display: inline-block;
	position: relative;
	width: 380px;
	height: 28px;
	line-height: 28px;
	background:
		url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg)
		no-repeat 95% 50%;
	border: 1px solid #DEDCEE;
	z-index: 1;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.selectbox3 label {
	position: absolute;
	top: 0px;
	left: 5px;
	height: 28px;
	line-height: 28px;
	color: black;
	z-index: -1;
	border-radius: 3px;
	overflow: hidden;
    text-overflow: ellipsis;
}

.selectbox3 select {
	width: 100%;
	height: 28px;
	line-height: 28px;
	font-family: inherit;
	border: 0;
	opacity: 0;
	border-radius: 3px;
	filter: alpha(opacity = 0);
	-webkit-appearance: none; /* 네이티브 외형 감추기 */
	-moz-appearance: none;
	appearance: none;
}
/* focus 효과 */
.selectbox3.focus {
  border-color: #66afe9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}