@charset "UTF-8";
@keyframes jelly{
        from {transform: scale(1,1);}
        30%{transform:scale(1.25,0.75);}
        40%{transform:scale(0.75,1.25);}
        50%{transform:scale(1.15,0.85);}
        60%{transform:scale(0.95,1.05);}
        70%{transform:scale(1.05,0.95);}
        to {transform:scale(1,1);}
    }
body {
	margin: 0;
	padding: 0;
	text-align: center;
	/* width: 1400px */
	margin: auto;
	font-family: SCDream4;
	overflow-y: scroll;
	height: auto;
	min-height: 100%;
	
}
.ln_page, .vn_page, .en_page, .an_page {
	margin: 0 auto;
	width: 1000px;
}
.ln_title {
	font-size: 25px;
	font-weight: bold;
	clear: both;
	margin-bottom: 50px;
}


.an_label, .en_label {
	width: 1000px;
	height: 41.5px;
	text-align: left;
	font-size: 18px;
	color: #fff;
	line-height: 2.4;
	background-color: #6A60A9;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin: 0px;
	padding-left:15px;
	padding-right:15px;
}

.form-control {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	min-height: 60px;
	box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
}


.button {
	display: inline-block;
	border-radius: 7px;
	background-color: #6A60A9;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 15px;
	width: 70px;
	height: 35px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	float: right;
}

.file_label {
	display: inline-block;
	border-radius: 7px;
	background-color: #6A60A9;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 15px;
	width: 70px;
	height: 35px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	float: left;
}
.file_label span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
	top: 6px;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
	
}

.button span:after, .file_label span:after{
	content: '*';
	position: absolute;
	opacity: 0;
	top: -5px;
	right: -10px;
	transition: 0.2s;
}

.button:hover span, .file_label:hover span {
	padding-right: 10px;
}

.button:hover span:after, .file_label:hover span:after {
	opacity: 1;
	right: 0;
}

.fileBtn {
	display: inline-block;
	border-radius: 7px;
	background-color: #6A60A9;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 15px;
	width: 70px;
	height: 35px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	float: left;
}

.fileBtn span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.fileBtn span:after {
	content: '*';
	position: absolute;
	opacity: 0;
	top: -5px;
	right: -10px;
	transition: 0.2s;
}

.fileBtn:hover span {
	padding-right: 10px;
}

.fileBtn:hover span:after {
	opacity: 1;
	right: 0;
}

.file_del_btn{
	width: 18px;
    margin-left: 5px;
}


.ln_cont, .vn_cont {
	text-align: left;
	max-width:1000px;
}
.vn_cont p img{
	max-width:100%;
}
#editor1{
	padding-left: 10px;
}
.ln_cont:hover, .lc_cont:hover{
	font-weight: bold;
	cursor:pointer;
    color: #EE2560;

	
	/* transform: scale(1.03); */
	/* transition: all 0.5s */
	/* ease-in-out; */
}
.input-file{
	visibility: hidden;
	margin: 10px;
	float:left;
}
.fileName, .reg_file{
	display:block;
	position:absolute;
	margin:10px;
	float:left;
	margin-left: 90px;
}
input::placeholder { /* Chrome, Safari, Firefox */
  color: #9a92d3;
}
.checkbox input{
    display:none;
}    
.checkbox span{
    display:inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.checkbox .icon{
    position: relative;
    width: 17px;
    height: 17px;
    border:1px solid #c8ccd4;
    border-radius: 3px;
    transition: backgorund 0.1s ease;
    top: -2.5px;
    right: -140px;
}
.checkbox .icon::after{
    content: '';
    position: absolute;
    top: 1px;
    left:5px;
    width: 5px;
    height: 11px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(45deg) scale(0); 
    transition: all 0.3s ease;
    transition-delay: 0.15s;
    opacity: 0;
}
.checkbox input:checked ~ .icon{
    border-color:transparent;
    background: #0080ff;
    animation: jelly 0.6s ease;
   /*  box-shadow:0 0 8px 0 dodgerBlue; */
}
.checkbox input:checked ~ .icon::after{
	opacity: 1;
	transform: rotate(45deg) scale(1);
	/* box-shadow:0 0 2px 0 dodgerBlue; */
}
