<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting value="NULL" name="jdbcTypeForNull"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.kh.jd.account.Student" alias="Student"/>
		<typeAlias type="com.kh.jd.account.Teacher" alias="Teacher"/>
		<typeAlias type="com.kh.jd.account.Manager" alias="Manager"/>
		<typeAlias type="com.kh.jd.exam.Exam" alias="Exam"/>
		<typeAlias type="com.kh.jd.work.Work" alias="Work"/>
		<typeAlias type="com.kh.jd.attend.Attend" alias="Attend"/>
		<typeAlias type="com.kh.jd.lecture.Lecture" alias="Lecture"/>
		<typeAlias type="com.kh.jd.calendar.Calendar" alias="Calendar"/>
		<typeAlias type="com.kh.jd.lectureClass.LectureClass" alias="LectureClass"/>
		<typeAlias type="com.kh.jd.progress.Progress" alias="Progress"/>
		<typeAlias type="com.kh.jd.registration.Registration" alias="Registration"/>
		<typeAlias type="com.kh.jd.video.Video" alias="Video"/>
	 	<typeAlias type="com.kh.jd.counseling.Counseling" alias="Counseling"/>
		<typeAlias type="com.kh.jd.notice.Notice" alias="Notice"/>
		<typeAlias type="com.kh.jd.comment.Comment" alias="Comment"/>
		<typeAlias type="com.kh.jd.management.Management" alias="Management"/>
		
	</typeAliases>
	<mappers>
		<mapper resource="mappers/account/studentMapper.xml"/>		
		<mapper resource="mappers/account/teacherMapper.xml"/>		
		<mapper resource="mappers/account/managerMapper.xml"/>		
		<mapper resource="mappers/attend/attendMapper.xml"/>		
		<mapper resource="mappers/exam/examMapper.xml"/>		
		<mapper resource="mappers/work/workMapper.xml"/>
		<mapper resource="mappers/lecture/lectureMapper.xml"/>	
		<mapper resource="mappers/calendar/calendarMapper.xml"/>	
		<mapper resource="mappers/lectureClass/lectureClassMapper.xml"/>	
		<mapper resource="mappers/progress/progerssMapper.xml"/>	
		<mapper resource="mappers/registration/registrationMapper.xml"/>	
		<mapper resource="mappers/video/videoMapper.xml"/>	
		<mapper resource="mappers/counseling/counselingMapper.xml"/>
		<mapper resource="mappers/notice/noticeMapper.xml"/>	
		<mapper resource="mappers/comment/commentMapper.xml"/>	
		<mapper resource="mappers/management/managementMapper.xml"/>	
	</mappers>
</configuration>
