<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="LectureClass">
<resultMap type="LectureClass" id="LectureClassResult">
	<id column="lectureclass_no" property="lectureclass_no"/>
	<result column="lecture_no" property="lecture_no"/>
	<result column="lectureclass_class" property="lectureclass_class"/>
	<result column="lectureclass_start" property="lectureclass_start"/>
	<result column="lectureclass_end" property="lectureclass_end"/>
</resultMap>

<insert id="addLectureClass" parameterType="java.util.Map">
	INSERT INTO LECTURECLASS(lectureclass_no ,lecture_no, lectureclass_class, lectureclass_start, lectureclass_end)
	SELECT SEQ_LECTURECLASS.nextval, A.* from( 
	<foreach collection="list" item="i" separator="UNION ALL ">
	SELECT #{i.lecture_no} as lecture_no, #{i.lectureclass_class} as lectureclass_class,
			to_date(#{i.lectureclass_start},'hh24:mi') as lectureclass_start,
			to_date(#{i.lectureclass_end},'hh24:mi') as lectureclass_end
	FROM dual
	</foreach>) A
</insert>

<select id="viewLectureClass" resultType="LectureClass" parameterType="string">
	SELECT * FROM LECTURECLASS where lecture_no = #{lecture_no}
</select>

<select id="listLectureClass" resultMap="LectureClassResult">
	SELECT * FROM LECTURECLASS
</select>
</mapper>
