<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Student">
	<resultMap type="Student" id="StudentMap">
		<result property="student_number" column="STUDENT_NUMBER" />
		<result property="id" column="ID" />
		<result property="password" column="PASSWORD" />
		<result property="name" column="NAME" />
		<result property="address" column="ADDRESS" />
		<result property="phone" column="PHONE" />
		<result property="email" column="EMAIL" />
	</resultMap>
	<select id="loginCheck" resultType="String">
		SELECT count(*) FROM STUDENT
		WHERE ID = #{id} AND PASSWORD = #{password}
	</select>
	<select id="idCheck" resultType="int">
		SELECT count(*) from (SELECT ID
		FROM STUDENT WHERE ID=#{id}
		union all
		SELECT
		ID FROM TEACHER WHERE ID =
		#{id}
		union all
		SELECT 
		ID FROM MANAGERS WHERE ID=
		#{id})
	</select>
	<insert id="signUp" parameterType="Student">

		insert into student values
		((SELECT nvl(max(STUDENT_NUMBER), 0) + 1 FROM
		STUDENT) , #{id},
		#{password}, #{name}, #{address}, #{phone},
		#{email})
	</insert>
	<select id="infoStudent" parameterType="Student"
		resultMap="StudentMap">
		SELECT * FROM STUDENT
		WHERE ID = #{id} AND PASSWORD =
		#{password}
	</select>
	<select id = "infoStudent2" resultType="Student">
		select * from STUDENT where
		ID = #{id}
	</select>
	<select id="emailCheck" resultType="int">
		select count(*) from (SELECT
		email FROM STUDENT WHERE EMAIL=#{email}
		union all
		SELECT email
		FROM
		TEACHER WHERE EMAIL = #{email})
	</select>
	<select id="phoneCheck" resultType="int">
		SELECT count(*) from (SELECT
		PHONE FROM STUDENT WHERE PHONE=#{phone]}
		union all
		SELECT
		PHONE FROM
		TEACHER WHERE PHONE = #{phone})
	</select>
	<!-- 비밀번호 수정 -->
	<update id="editStudentPw" parameterType="hashmap">
		UPDATE STUDENT SET
		PASSWORD = #{password} where ID=#{id}
	</update>
	<!-- 휴대폰 번호 수정 -->
	<update id="editStudentPhone" parameterType="hashmap">
		UPDATE STUDENT SET
		PHONE =#{phone} where id=#{id}
	</update>
	<!-- 주소 수정 -->
	<update id="editStudentAddress" parameterType="hashmap">
		UPDATE STUDENT SET
		ADDRESS=#{address} where id=#{id}
	</update>
	<update id="editStudentName" parameterType="hashmap">
		UPDATE STUDENT SET
		NAME=#{name} where id=#{id}
	</update>
	<delete id="deleteStudent">
		DELETE FROM STUDENT WHERE ID = #{id}
	</delete>
	<select id = "searchStudentId" resultType="String">
		SELECT NVL(ID, 0) FROM STUDENT WHERE NAME=#{name} and EMAIL = #{email}
	</select>
	<select id= "searchStudentPw" parameterType="Student" resultType="Student">
		SELECT * FROM STUDENT WHERE ID = #{id}
	</select>
	<update id="tempPassword" parameterType="Map">
		UPDATE STUDENT SET PASSWORD = #{password} WHERE ID = #{id}
	</update>

</mapper>
