<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Student">
	<resultMap type="Student" id="StudentMap">
		<result property="student_number" column="STUDENT_NUMBER"/>
		<result property="student_id" column="ID"/>
		<result property="student_password" column="PASSWORD"/>
		<result property="student_name" column="NAME" />
		<result property="student_address" column="ADDRESS" />
		<result property="student_phone" column="PHONE" />
		<result property="student_email" column="EMAIL" />
	</resultMap>
	<select id="loginCheck" resultType="int">
			SELECT count(*) FROM STUDENT
			WHERE ID = #{student_id} AND PASSWORD = #{student_password}
	</select>
	<select id="idCheck" resultType="int">
			SELECT count(*) FROM STUDENT
			WHERE ID = #{student_id}
	</select>
	<select id="signUp">
		insert into student(STUDENT_NUMBER, ID, PASSWORD, NAME, ADDRESS, PHONE, EMAIL) 
		values (#{student_number}, #{student_id}, #{student_password}, #{student_name}, #{student_address}, #{student_phone}, #{student_email})
	</select>

</mapper>
