<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Student">
	<resultMap type="Student" id="StudentMap">
		<result property="student_number" column="STUDENT_NUMBER" />
		<result property="id" column="ID" />
		<result property="password" column="PASSWORD" />
		<result property="name" column="NAME" />
		<result property="address" column="ADDRESS" />
		<result property="phone" column="PHONE" />
		<result property="email" column="EMAIL" />
	</resultMap>
	<select id="loginCheck" resultType="String">
		SELECT count(*) FROM STUDENT
		WHERE ID = #{id} AND PASSWORD = #{password}
	</select>
	<select id="idCheck" resultType="int">
		SELECT count(*) from (SELECT ID FROM STUDENT WHERE ID=#{id}
		union all
		SELECT
		ID FROM TEACHER WHERE ID = #{id})
	</select>
	<!-- <select id="signUp">
		insert into student values (#{student_number}, #{id},
		#{password}, #{student_name}, #{student_address}, #{student_phone},
		#{student_email})
	</select> -->
	<insert id="signUp" parameterType="Student">
		
		insert into student values ((SELECT nvl(max(STUDENT_NUMBER), 0) + 1 FROM STUDENT) , #{id},
		#{password}, #{name}, #{address}, #{phone},
		#{email})
	</insert>
	<select id="infoStudent" parameterType="Student"
		resultMap="StudentMap">
		SELECT * FROM STUDENT
		WHERE ID = #{id} AND PASSWORD =
		#{password}
	</select>
	<select id="emailCheck" resultType="int">
		select count(*) from (SELECT
		email FROM STUDENT WHERE EMAIL=#{email}
		union all
		SELECT email
		FROM TEACHER WHERE EMAIL = #{email})
	</select>
	<select id="phoneCheck" resultType="int">
		SELECT count(*) from (SELECT PHONE FROM STUDENT WHERE PHONE=#{phone]}
		union all
		SELECT
		PHONE FROM TEACHER WHERE PHONE = #{phone})
	</select>
	
</mapper>
