<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Teacher">
	<resultMap type="Teacher" id="TeacherMap">
		<result column="teacher_num" property="teacher_number"/>
		<result column="teacher_id" property="id"/>
		<result column="teacher_pwd" property="password"/>
		<result column="teacher_name" property="name"/>
		<result column="teacher_address" property="address"/>
		<result column="teacher_phone" property="phone"/>
		<result column="teacher_email" property="email"/>
	</resultMap>
	


	<select id="loginCheck" resultType="int">
		SELECT COUNT(*) FROM TEACHER 
		WHERE teacher_num = #{teacher_number} AND teacher_pwd = #{password}
	</select>
	<select id="idCheck" resultType="int">
		SELECT COUNT(*) FROM TEACHER 
		WHERE teacher_id = #{id} 
	</select>
	<select id="signUp">
		insert into teacher(teacher_num, teacher_id, teacher_pwd, teacher_name, teacher_address, teacher_phone, teacher_email) 
		values (#{teacher_number}, #{id}, #{password}, #{name}, #{address}, #{phone}, #{email})
	</select>

</mapper>
