<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Teacher">
	<resultMap type="Teacher" id="TeacherMap">
		<result property="teacher_number" column="TEACHER_NUMBER"/>
		<result property="id" column="ID"/>
		<result property="password" column="PASSWORD"/>
		<result property="teacher_name" column="NAME" />
		<result property="teacher_address" column="ADDRESS" />
		<result property="teacher_phone" column="PHONE" />
		<result property="teacher_email" column="EMAIL" />
		<result property="accept" column="ACCEPT"/>
		
	</resultMap>
	


	<select id="loginCheck" resultType="String">
		SELECT COUNT(*) FROM TEACHER 
		WHERE ID=#{id} AND PASSWORD = #{password}
	</select>
	<select id="idCheck" resultType="int">
		SELECT count(*) from (SELECT ID FROM STUDENT WHERE ID=#{id}
		union all
		SELECT
		ID FROM TEACHER WHERE ID = #{id})
	</select>
	<select id="signUp">
		insert into teacher(teacher_num, id, password, teacher_name, teacher_address, teacher_phone, teacher_email) 
		values (#{teacher_num}, #{id}, #{password}, #{teacher_name}, #{teacher_address}, #{teacher_phone}, #{teacher_email}, #{accept})
	</select>
	<select id="infoTeacher" parameterType="Teacher" resultMap="TeacherMap">
			SELECT * FROM TEACHER
			WHERE ID = #{id} AND PASSWORD = #{password}
	</select>
	<select id="emailCheck" resultType="int">
		select count(*) from (SELECT
		email FROM STUDENT WHERE EMAIL=#{student_email}
		union all
		SELECT email
		FROM TEACHER WHERE EMAIL = #{student_email})
	</select>
	<select id="phoneCheck" resultType="int">
		SELECT count(*) from (SELECT PHONE FROM STUDENT WHERE PHONE=#{teacher_phone}
		union all
		SELECT
		PHONE FROM TEACHER WHERE PHONE = #{teacher_phone})
	</select>
</mapper>
