<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Comment">
	<resultMap type="Comment" id="CommentMap">
		<result property="manager_number" column="MANAGER_NUMBER" />
		<result property="student_number" column="STUDENT_NUMBER" />
		<result property="teacher_number" column="TEACHER_NUMBER" />
		<result property="notice_no" column="NOTICE_NO" />
		<result property="video_no" column="VIDEO_NO" />
		<result property="write_date" column="WRITE_DATE" />
		

	</resultMap>
	<select id="commentList" resultType="Comment">
		SELECT NOTICE_NO FROM COMMENT
	</select>
<insert id="teacherNoticeCommentInsert" parameterType="Comment">
		insert into comments(comment_number, teacher_number, notice_no, write_date) values
		((SELECT nvl(max(COMMENT_NUMBER), 0) + 1 FROM
		COMMENTS) , #{teacher_number},
		3,  TO_DATE(SYSDATE, 'yyyy/mm/dd hh24:mi'));
</insert>
<insert id="studentNoticeCommentInsert" parameterType="Comment">
		insert into comments(comment_number, student_number, notice_no, write_date) values
		((SELECT nvl(max(COMMENT_NUMBER), 0) + 1 FROM
		COMMENTS) , #{student_number},
		3,  TO_DATE(SYSDATE, 'yyyy/mm/dd hh24:mi'));
</insert>


</mapper>
