<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="attend">
	<select id="checkLecture" parameterType="Attend" resultType="Attend">
		select *
		from (select lc.lecture_no,r.registration_no,r.student_number,lc.lectureclass_class 
					 , to_char(lc.lectureclass_start,'hh24:mi:ss') as lectureclass_start,to_char(lc.lectureclass_end,'hh24:mi:ss') as lectureclass_end
		             ,to_char(lc.lectureclass_start,'hh24miss') as lectureclassStart,to_char(lc.lectureclass_end,'hh24miss') as lectureclassEnd
		      from registration r join lectureclass lc
		      on r.lectureclass_no=lc.lectureclass_no
		      where student_number=#{student_number}) rlc join lecture l 
		on rlc.lecture_no=l.lecture_no
	</select>
<!-- 스케줄러 사용 프로시저 호출 -->
	<select id="scheduleAttend" >
		execute SCHEDULEATTEND()
	</select>
	<select id="listAttend" parameterType="Attend" resultType="Attend">
		select lectureclass_no,attend_no,attend_date,to_date(attend_start,'hh24:miss') as attend_start,
		       to_date(attend_end,'hh24:miss') as attend_end,attend_progress,
		       l.lecture_no, to_char(lectureclass_start,'hh24:mi:ss') as lectureclass_start,
		       to_char(lectureclass_end,'hh24:mi:ss') as lectureclass_end ,
		       to_char(lectureclass_start,'hh24miss') as lectureclassStart,
		       to_char(lectureclass_end,'hh24miss') as lectureclassEnd,
		       lecture_title,lecture_start,lecture_end
		from (select * 
		      from attend a join lectureclass lc 
		      using(lectureclass_no) 
		      where student_number=${student_number} and lecture_no=#{lecture_no} ) alc join lecture l 
		on alc.lecture_no=l.lecture_no
		order by attend_date desc	
	</select>
</mapper>
