<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Notice">
	<resultMap type="Notice" id="NoticeMap">
		<result property="notice_no" column="NOTICE_NO"/>
		<result property="notice_sub" column="NOTICE_SUB"/>
		<result property="notice_con" column="NOTICE_CON"/>
		<result property="notice_date" column="NOTICE_DATE"/>
		<result property="notice_filepath" column="NOTICE_FILEPATH"/>
		<result property="hit" column="HIT"/>
		<result property="manager_num" column="MANAGER_NUMBER"/>
		<result property="manager_name" column="MANAGER_NAME"/>
		<result property="teacher_num" column="TEACHER_NUMBER"/>
		<result property="teacher_name" column="TEACHER_NAME"/>
	</resultMap>
		
		<!-- 목록조회 -->
		<select id="listNotice" resultType="Notice">
		<![CDATA[
			select * from (select  rownum rnum, nm.*,t.name as teacher_name from (select n.*,m.name as manager_name from notice n left outer join managers m on n.manager_number = m.manager_number order by notice_no asc) nm left outer join teacher t on nm.teacher_number = t.teacher_number
			) order by rnum desc
		]]>
		</select>
		
		<!-- 페이징 -->
		<select id="getlistCount" resultType="int" parameterType="Map">
		SELECT COUNT(*)
		from notice
		</select>
		
		<!-- 글조회 -->
		<select id="viewNotice" resultType="Notice">
		<![CDATA[
			select nm.*,t.name as teacher_name from (select n.*,m.name as manager_name from notice n left outer join managers m on n.manager_number = m.manager_number) nm left outer join teacher t on nm.teacher_number = t.teacher_number
			where notice_no = #{notice_no}
		]]>
		</select>
		
		<!-- 글등록 -->
		<insert id="addNotice" parameterType="Notice">
			<selectKey keyProperty="numbc" resultType="integer" order="BEFORE" >
		  		select nvl(max(notice_no),0)+1 cnt from notice
			</selectKey>
	        insert into notice values(	        
	        	${numbc}, ${manager_number}, ${teacher_number}, #{notice_sub}, #{notice_con}, sysdate, #{notice_filepath}, default, null )
		</insert>
		
		<!-- 파일업로드 -->
		<insert id="addFile" parameterType="Notice">
		<selectKey keyProperty="numbc" resultType="integer" order="BEFORE" >
		  		select nvl(max(notice_no),0) cnt from notice
			</selectKey>
		insert into filelist values (
				${numbc}, #{notice_filename} 
		)
		</insert>
		
		<!-- 파일수정 -->
		<insert id="editFile" parameterType="Notice" >
		insert into filelist values (
				#{notice_no}, #{notice_filename} 
		</insert>
		
		<!-- 파일리스트 -->
		<select id="listFile" parameterType="int" resultType="Notice">
		select * from filelist 
		where notice_no = #{notice_no}
		</select>
		
		<!-- 글수정 -->
		<update id="editNotice" parameterType="Notice" >
			update notice set notice_sub = #{notice_sub},
							  notice_con = #{notice_con},
							  notice_date = sysdate,
							  notice_filepath = #{notice_filepath},
							  notice_filename = #{notice_filename}
			where
				notice_no = ${notice_no}
		</update>
		
		<!-- 글삭제 -->
		<delete id="removeNotice" parameterType="Notice">
			<![CDATA[
			delete from notice where notice_no = #{notice_no}
			]]>
		</delete>
		
		<!--  조회수 -->
		<update id="hit" parameterType="int">
			update notice set hit = hit+1
			where notice_no = #{notice_no}
		</update>
		
		<!-- 파일삭제 셀렉 -->
		<select id="checkNotice" parameterType="Notice" resultType="Notice">
			select * from notice where notice_no = #{notice_no}
		</select>
</mapper>
